name: Publish to NPM
on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: [self-hosted, ci-runner]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies and build
        run: npm ci && npm run build && npm run replaceVars
      - name: Publish package on NPM
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_NPM_MATTERLABS_AUTOMATION_TOKEN }}
          RUDDER_STACK_KEY: ${{ secrets.RUDDER_STACK_KEY }}
          RUDDER_STACK_DATAPLANE: ${{ secrets.RUDDER_STACK_DATAPLANE_URL }}